.news-page {
	margin-top: 0;

}
	.news {
	background-color: $fortism-light-grey;
	margin-top: 20px;
	margin-bottom: 50px;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
    transition: $ease;
    &:hover {
    box-shadow: -1px 1px 14px 2px rgba(0,0,0,0.2)
    }

	.image {
	margin: 5px;
	overflow: hidden;
	height: 250px;
	padding: 0;
		img {
			height: 100%;
		}
	}
	h2.entry-title {
		font-size: 2em;
		text-align: left;
		text-transform: uppercase;
		a {
		text-decoration: none;
		}
	}

		.entry-meta{
		padding-bottom: 10px;
		a {
		text-decoration: none;
		}
	}
				
		.entry-content {
		p {
		color: $grey;
		padding-bottom: 20px;
		}
		a {
		background: rgba($fortism-light-blue, 1);
		height: 100px;
		text-align: center;
		padding: 10px 30px;
		transition: $ease;
		text-decoration: none;
		color: $white;
		   &:hover {
		   background: rgba($fortism-dark-blue, 1);
		  }
		}
	}
}


// NEWS SINGLE PAGE //

.single {
	.entry-title {
	text-align: left;
	}
	.content-area {
		padding: 20px 80px;
		p {
		text-align: left;
		}
	}
	.entry-meta {
		margin-bottom: 20px;
	}
	.content
	h2 {
		text-align: left;
	}
}

 /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {

    }

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {

	}

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {

    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    .single {
		.content-area {
		padding: 20px 40px;
        }
    	}
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {

    }


