//
// Theme Variables
// --------------------------------------------------


//== Colors

$fortism-light-blue:    	#3b9bd6;
$fortism-dark-blue:     	#335798;
$fortism-grey:          	#666766;
$fortism-light-grey:    	#f7f7f7;
$white:						#ffffff;
$fortism-foot-dark-blue:	#294989;
$background-color-jum: 		#06001a;
$red: 						#e60050;
$grey: 						#666666;
$light-blue:				#f3f8fc;

// Social Colors
// --------------------------------------------------------------------

$facebook: #3b5998;

$twitter: #55acee;

$instagram: #125688;

$linkedin: #007bb5;

$pinterest: #cb2027;

$youtube: #b00;

$googleplus: #d34836;


// Ease
// --------------------------------------------------------------------

$ease: all .3s cubic-bezier(.35, .35, .35, .35);